body {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background: #eee;
    font-family: Arial;
}

.calculator {
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}

.clear {
    width: 220px;
    background: red;
    color: white;
}